//common css
* {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
button:focus {
  border-style: none;
  outline-style: none;
}
.bold {
  font-weight: bold;
}
//Layout
.layout {
  min-height: 125vh;
  display: flex;
}
//sider
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  color: #fff;
  padding-left: auto;
  padding-right: auto;
}
//header
nz-header {
  background: #fff;
  padding: 0;
}
.nav-button {
  border-style: none;
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}
//content
nz-content {
  margin: 24px 16px 0;
}
nz-layout {
  margin-bottom: 0px;
}
nz-footer {
  line-height: 1.5;
}
.text {
  margin-bottom: 10px;
  margin-top: -12px;
  font-weight: bold;
  color: black;
}
.upload-button {
  display: inline-block;
  text-align: right;
  background-color: blue;
  color: white;
  border-style: none;
}
//side-bar
.inner-menu {
  position: absolute;
  //display: inline-block;
  display: flex;
  flex: 0.2;
  flex-direction: column;
  width: 20%;
  padding: 10px;
  background: #fff;
  min-height: 80vh;
  max-height: 150vh;
}
//main-content
.inner-content {
  position: absolute;
  margin-left: 22%;
  display: flex;
  flex: 0.8;
  flex-direction: column;
  //display: inline-block;
  width: 60%;
  padding: 24px;
  background: #fff;
  max-height: 150vh;
}
.picture {
  display: flex;
  width: 100%;
  max-height: 60vh;
}
.extract-button {
  display: inline-block;
  text-align: right;
  background-color: blue;
  color: white;
  border-style: none;
}
.line2 {
  display: block;
  border-style: solid;
  border-width: 1px;
}
.line1 {
  display: block;
}
